@font-face {
  font-family: 'opensans';
  src: url('/static/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'opensans';
  font-weight: bold;
  src: url('/static/fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'opensans';
  font-weight: 100;
  src: url('/static/fonts/OpenSans-Light.ttf');
}
body {
    padding: 0;
    margin: 0;
    font: 14pt/1.5 opensans;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
