<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRAMA STOCKS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <div class="container body-content">
        <nav>
          <h1><b>DRAMA</b>STOCKS</h1>
          <i class="ionicon ion-search btn search"></i>
          <div class="clear"></div>
        </nav>
        {% block content %}{% endblock %}
    </div>

    <script src="/static/javascript/jquery.min.js"></script>
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="/static/javascript/javascript.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
